<h1 class="text-center" style="color: white;">Edit Contact</h1>

<%= render 'form', contact: @contact %>

<br>
<div class="text-center" style="color: white;">
    <%= link_to 'Show', @contact, style: "color: white;" %> |
    <%= link_to 'Back', contacts_path, style: "color: white;" %>
</div>
