<div class="card">
    <div class="card-header">
        <h2 class="card-title">New Contact</h2>
    </div>

    <div class="card-body">
        <%= render 'form', contact: @contact %>
    </div>
</div>
