<h1 class="text-center" style="color: white">New Contact</h1>

<%= render 'form', contact: @contact %>
<br>
<div class="text-center ">
    <%= link_to 'Back', address_book_contacts_path, style: "color: white" %>
</div>
