<div>
    <%= f.label :name, "Address Book Name: ", class: "h6 float-left", style: "color: black;" %>
    <%= f.text_field :name %>
</div>
<div class="clearfix"></div>
<div>
    <%= f.label :description, "Description: ", class: "h6 float-left", style: "color: black;" %>
    <%= f.text_field :description %>
</div>
<div class="clearfix"></div>