<h1 class="text-center" style="color: white;">New Address Book</h1>

<%= render 'form', address_book: @address_book %>
<br>
<div class="row">
    <div class="col text-center" style="color: white;">
        <%= link_to 'Back', address_books_path, class: "btn btn-link", style: "color: white;" %>
    </div>
</div>
