@import 'bootstrap';

.logo:hover {
    background-color: transparent;
}

.nav-logo {
    font-size: 20px;
}

.vert-center-nav-item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.login-center {
    margin-right: 33.33%;
    margin-left: 33.33%;
    margin-top: 10%;
    margin-bottom: 14%;
}

.height-fixed {
    height: 300px;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
}

.width-66 {
    width: 66.66%;
}

.width-50 {
    width: 50%;
}

.width-33 {
    width: 33.33%;
}

.width-25 {
    width: 25%;
}

.side-nav-mt {
    margin-top: 20px;
}

.drop-down-arrow {
    background-color: transparent;
    transition: transform .5s, width .5s, height .5s, padding-bottom .5s;
}

.drop-down-arrow.active {
    transform: rotate(-90deg);
    width: 42px;
    height: 45px;
    padding-bottom: 12px;
}

.drop-down-arrow:active, .drop-down-arrow:focus, .drop-down-arrow:hover, .drop-down-arrow.active {
    background-color: transparent;
    border: none;
}

.drop-down-arrow:hover {
    cursor: pointer;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active.drop-down-arrow {
    background-color: transparent;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link.active.nav-link-btn-group-btns {
    box-shadow: none !important;
}

.drop-down-arrow.active {
    transform: rotate(-90deg);
    width: 42px;
    height: 45px;
    padding-bottom: 12px;
}

.border-right-0 {
    border-right: 0;
}

.border-left-0 {
    border-left: 0;
}

.no-margin {
    margin: 0;
}

.input-field {
    width: 374px;
    height: 24px;

    padding: 6px, 12px;
}

.text-yellow {
    color: #f9d71c;
}

.nav-link-btn-group-btns {
    background-color: rgba(255,255,255,.1);
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item.side-bar-btn-group:hover>.nav-link.nav-link-btn-group-btns {
    background-color: transparent;
    background: transparent;
}