@import 'bootstrap';

.logo:hover {
    background-color: transparent;
}

.nav-logo {
    font-size: 20px;
}

.vert-center-nav-item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.login-center {
    margin-right: 33.33%;
    margin-left: 33.33%;
    margin-top: 10%;
    margin-bottom: 14%;
}

.height-fixed {
    height: 300px;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
}

.width-66 {
    width: 66.66%;
}

.width-50 {
    width: 50%;
}

.width-33 {
    width: 33.33%;
}

.width-25 {
    width: 25%;
}

.side-nav-mt {
    margin-top: 20px;
}

.drop-down-arrow {
    transition: transform .8s, width .8s, height .8s, padding-bottom .8s;
}

.drop-down-arrow.active {
    transform: rotate(-90deg);
    width: 42px;
    height: 45px;
    padding-bottom: 12px;
}

.border-right-0 {
    border-right: 0;
}

.border-left-0 {
    border-left: 0;
}

.no-margin {
    margin: 0;
}

.input-field {
    width: 374px;
    height: 24px;

    padding: 6px, 12px;
}