<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="<%= @user %>ModalLabel">Are you Sure?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="mx-auto align-content-center" style="color: black; width: 400px;">
                This user will be deleted permanently. Would you like to continue?
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= link_to "Delete", admin_user_path(@user.id), method: :delete, class: "btn btn-danger", style: "color: white;" %>
        </div>
    </div>
</div>