
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Welcome!</h2>
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            <p>
                Contact Book is an application that is exactly as it sounds, a contact book application.
                This is the first application I produced myself. I have continued to add features to the
                application as my knowledge of Rails has grown and will continue to do so as I learn.
                <br>
                Features:
                <ul class="ml-2">
                    <li>Create and manage personal contacts</li>
                </ul>
                <br>
                Technologies Used:
                <ul class="ml-2">
                    <li>Rails 6.0</li>
                    <li>AdminLTE 3.0</li>
                    <li>PostgreSQL</li>
                    <li>Devise</li>
                    <li>Bootstrap 4</li>
                </ul>
                <br>
                Note: The theme is imported through webpacker and the rest of the applications 
                assets are brought in through Rail's asset pipeline.
            </p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Continue</button>
        </div>
    </div>
</div>
