
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Welcome!</h2>
            <button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            <p>
                This app was made in Rails 6.0 using the AdminLTE theme version 3.0.
                The theme was imported through webpacker and the rest of the applications 
                assets are brought in through Rail's asset pipeline. All data is stored in
                a PostgreSQL database. The AdminLTE theme uses a variety of plugins, most
                notably bootstrap. Devise was used to manage the sessions/users of the application
                <br>
                Features Include:
                <ul class="ml-2">
                    <li>Create and manage personal contacts</li>
                </ul>
            </p>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Continue</button>
        </div>
    </div>
</div>
