<aside class="main-sidebar sidebar-dark-primary elevation-4 height-100" id="side-nav">
    <div class="sidebar sidebar-height">
        <h5 class="text-white ml-2">Other<br>&nbsp&nbsp&nbsp&nbspAddress<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBooks:</h5>
        <div class="row side-nav-mt">
            <div class="col-1"></div>
                <div class="col-10 width-100">
                    <ul class="nav nav-sidebar flex-column" data-widget="treeview" role="menu">
                        <% @address_books.each do |address_book| %>
                            <li class="nav-item width-100">
                                <a href="/address_books/<%= address_book.id %>/contacts" class="text-center nav-link btn-dark width-75 no-margin float-left"><%= address_book.name %></a>
                                <button class="nav-link btn-dark width-25 mt-0 mb-0 drop-down-arrow has-treeview float-right"><</button>
                                <ul class="nav nav-treeview">
                                    <% if @address_books_favorites[address_book.name].present? %>
                                        <% @address_books_favorites[address_book.name].each do |favorites| %>
                                            <% favorites.each do |favorite| %>
                                                <li class="nav-item">
                                                    <%= link_to "#{favorite[1]} #{favorite[2]}", address_book_contact_path(address_book, favorite[0]), class: "btn btn-dark btn-sm width-66 ml-3", remote: true %>
                                                </li>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                </ul>
                            </li>
                        <% end %>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</aside>