<aside class="main-sidebar sidebar-dark-primary elevation-4 height-100" id="side-nav">
    <div class="sidebar sidebar-height">
        <div class="row side-nav-mt">
            <div class="col-1"></div>
                <div class="col-10 width-100">
                    <ul class="nav nav-sidebar flex-column" data-widget="treeview" role="menu">
                        <li class="nav-item width-100">
                            <button class="nav-link width-75 no-margin float-left">Test</button>
                            <button class="nav-link width-25 mt-0 drop-down-arrow has-treeview float-right">></button>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <div class="btn btn-light btn-sm width-66 ml-3">Some place</div>
                                </li>
                            </ul>
                        </li>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</aside>